/nbproject/private/
/files/avatar/*
!/files/avatar/.gitkeep
/files/saber/*
!/files/saber/.gitkeep
/files/platform/*
!/files/platform/.gitkeep
/files/bloq/*
!/files/bloq/.gitkeep
/files/trail/*
!/files/trail/.gitkeep
/files/sign/*
!/files/sign/.gitkeep
/files/misc/*
!/files/misc/.gitkeep
/settings.txt
/settings.example.txt
/log.log
/forge/files/*
/webhook_queries
/webhook_results

.git
.github
.gitignore
Dockerfile
.dockerignore
README.md
